body{
  margin: 0;
}

header{
  margin: 0 auto;
  text-align: center;
  background-image: url("img/lightsaber-background.jpg");
  background-size: 1900px 500px;
  padding-top: 50px;
  padding-bottom: 20px;
  border: 20px solid black;
}

header img{
  border-radius: 180px;
  width: 450px;
  border: 10px solid black;
}

h1{
  padding-top: 10px;
  color: #ff0000;
  font-size: 75px;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  transform: translate(-20px, 20px);
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #111;
}

.active{
  background-color:  #ff0000;
}

main{
  margin: 0 auto;
  background-image: url("img/space-background.jpg");
  background-size: repeat;
}

main h2{
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

main p{
  color: white;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
}

.lore{
  width: 600px;
  height: 700px;
  margin: 0 auto;
  padding-left: 650px

}

.bio{
  margin: 0 815px;
  color:white;
}

.grid-container-bio{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  transform: translate(192px, 0px);
  
}

.grid-item-bio{
  margin: 0 auto;
  padding: 10px;
  
}
.inner{
  border-right: 1px solid grey;
}


.quote-one{
  padding-left: 100px;
  width: 400px;
  height: 400px;
}
.quote-two{
  width: 400px;
  height: 400px;
}

.quote-three{
  width: 400px;
  height: 400px;
}

.grid-container{
  max-width: 800px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 200px;

}

.grid-item{
  margin: 0 auto;
  padding: 20px;
}

footer{
  margin: 0 auto;
  background-color: #000000;
  padding: 10px;
}

footer p{
  color: #dfdfdf;
  text-align: center;
}
